html {
    height: 100%;
    width: 100%;
    margin: 0; 
}

body {
    background: #000000 url('../img/donate_1920.jpg') 0px 0px no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: "Times New Roman", Times, serif;
}

.lang {
    position: absolute;
    top: 2vh;
    right: 3%;
    margin-left: -6vw;
    z-index: 2;
}

.lang a {
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    opacity: 0.5;
    text-shadow: 0 0 3px black;
}

.lang span {
    color: #fff;
    opacity: 0.5;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 200;
}

.lang a:hover {
    cursor: pointer;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.intro {
    position: relative;
    text-align: center;
    left: 4%;
    bottom: -15%;
    margin: 0 0 50px 0;
    width: 31vw;
}

#headline {
    font-size: 32px;
    font-family: 'Futura W01 Book',sans-serif;
    letter-spacing: .2em;
    font-weight: 400;
    padding: 8vh 0 6vh 0;
    color: #fff;
    text-align: center;
    margin-top: 0px;
    line-height: 1.6;
}

.intro p {
    width: auto;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 9px 0 0;
    padding: 0 5%;
    text-align: justify;
    font-family: Helvetica;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: 1px;
    text-shadow: 0 0 3px black;
}

.intro p.name {
    text-align: right;
    margin-top: 24px;
    font-size: 14px;
}

@font-face {
    font-family: "FuturaLTW01-Book";
    src: url("http://db.onlinewebfonts.com/t/c1cb3da0a99efe5f8993974e51cc68e9.eot");
    src: url("http://db.onlinewebfonts.com/t/c1cb3da0a99efe5f8993974e51cc68e9.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/c1cb3da0a99efe5f8993974e51cc68e9.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/c1cb3da0a99efe5f8993974e51cc68e9.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/c1cb3da0a99efe5f8993974e51cc68e9.svg#FuturaLTW01-Book") format("svg");
}

p.footer {
    position: absolute;
    bottom: 0;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 200;
    float: left;
    clear: left;
    width: 100%;
    height: 2.5vw;
    margin-bottom: 0;
    z-index: 2;
}

p.footer a {
    margin: 0 15vw 0 0;
    text-decoration: none;
    letter-spacing: 2px;
    border-bottom: solid 1px #fff;
    background-color: rgba(255,255,255,0);
    border-color: rgba(255,255,255,.4);
    color: #fff;
    height: 18px;
    padding: 0;
    outline: 0;
    display: inline-block;
    opacity: 0.7;
    left: 6%;
    position: relative;
    text-shadow: 0 0 3px black;
}

p.footer a:hover {
    cursor: pointer;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

p.footer a:visited {
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
}

@media only screen and (min-width: 1201px) and (max-width: 1367px) { 
    body {
        background-image: url('../img/donate_1367.jpg');
    }

    p.footer {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) { 
    body {
        background-image: url('../img/donate_1200.jpg');
    }

    .intro {
        bottom: -14%;
        width: 34vw;
    }

    #headline {
        font-size: 30px;
        letter-spacing: .2em;
        line-height: 1.5;
    }

     p.footer {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) { 
    body {
        background-image: url('../img/donate_1000.jpg');
    }

    .lang a {
        font-size: 13px;
    }

    .intro {
        bottom: -13%;
        width: 36vw;
    }

    #headline {
        font-size: 25px;
        letter-spacing: .2em;
        line-height: 1.4;
    }

    .intro p {
        font-size: 12px;
        line-height: 1.4;
    }

    .intro p.name {
        font-size: 13px;
    }

    p.footer {
        font-size: 12px;
        height: 3vw;
    }

    p.footer a {
        height: 15px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-image: url('../img/donate_767.jpg');
    }

    .lang {
        top: 1vh;
    }

    .lang a {
        font-size: 11px;
        font-weight: 300;
        opacity: 0.6;
    }

    .intro {
        bottom: -12%;
        width: 39vw;
        left: 2%;
    }

    #headline {
        font-weight: 300;
        font-size: 20px;
        letter-spacing: .1em;
        line-height: 1.3;
    }

    .intro p {
        font-size: 10px;
        line-height: 1.2;
        margin: 0;
        font-weight: 100;
        letter-spacing: normal;
    }

    .intro p.name {
        font-size: 11px;
        margin-top: 16px;
    }

    p.footer {
        font-size: 11px;
        height: 4vw;
    }

    p.footer a {
        letter-spacing: normal;
        height: 13px;
    }
}

@media screen and (max-width: 479px) {
}



